<h2>Stories</h2>
<div>
  <% unless @story.nil? %>
      <h3>A random link: </h3>
      <p><%= link_to @story.name, @story %></p>
  <% else %>
      <p>There is no story yet, why not create your own?</p>
  <% end %>
</div>
<div>
  <h4>There is <%= @count %> <%= @count > 1 ? 'stories' : 'story' %> on this website on this moment</h4>
</div>
<div>
  <a href="<%= new_story_path %>">Create a new story</a>
</div>
