// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.story {
  float: left;
  width: 50%;

  h3 {
    margin-bottom: 0;
  }
  p {
    color: #666666;
  }
}

.count {
  margin-top: 10em;
  text-align: center;
  clear: both;
}

.submit_story {
  text-align: center;
}

.description {
  margin: 5em 0;
}