// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #666666;
  margin: 15px 25px;
  font-family: Helvetica, Arial, Sans-Serif;
}

p {
  margin: 0;
}

input {
  margin-bottom: 1em;
}

.content {
  background-color: #fff;
  border: 10px solid #cccccc;
  padding: 10px 10px 20px 20px;
}

.notification {
border: 5px solid #9c9;
  background-color: #cfc;
  padding:5px;
  margin:10px 0;
}

.field_with_errors{
  color:red;
  background: transparent;
  input{
    border: thin solid red;
  }
}

.errors{
  color:red;
}